/* Estilos generales para centrar la calculadora */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor de la calculadora */
#calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 320px;
}

/* Estilos para la pantalla */
#display {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    text-align: right;
    font-size: 2rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Contenedor de los botones */
#buttonBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Estilo general para los botones */
button {
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    height: 60px;
    width: 60px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    cursor: pointer;
}

/* Estilo para botones numéricos y de punto decimal */
button:not(#clear):not(#equals):not(#del) {
    background-color: #333;
}

/* Estilo para los botones de operaciones */
button[value="/"],
button[value="*"],
button[value="+"],
button[value="-"] {
    background-color: #ff9500;
}

/* Estilo para el botón de igual */
#equals {
    background-color: #ff9500;
    grid-column: span 2;
}

/* Estilo para el botón de Clear */
#clear {
    background-color: #a5a5a5;
    color: #000;
}

/* Estilo para el botón de Del */
#del {
    background-color: #a5a5a5;
    color: #000;
}

/* Estilo para botones cuando se presionan */
button:active {
    background-color: #ff8500;
}

/* Responsive: ajustar tamaño para pantallas pequeñas */
@media (max-width: 400px) {
    #calculator {
        width: 100%;
    }
    
    #display {
        font-size: 1.5rem;
        height: 50px;
    }

    button {
        height: 50px;
        width: 50px;
        font-size: 1.2rem;
    }
}
